# TODO: move dotfiles to separate dir and symlink before this becomes
# a total and utter fatherfucking mess and I gut myself out before
# I use my intenstines to make a nook and hang from my flesh.
.Xauthority
.bash_history
.bash_logout
.cache/
.config/dconf/
.config/mpd/
.config/ncmpcpp/*.log
.config/nvim/.netrwhist
.config/nvim/autoload/
.config/pulse/
.config/qutebrowser/bookmarks
.config/qutebrowser/qsettings
.config/qutebrowser/quickmarks
.config/systemsettingsrc
.config/vifm/*.txt
.config/vifm/vifminfo
.esd_auth
.gitconfig
.gnupg
.grab_packages.sh
.local/share/newsboat/
.local/share/nvim/
.local/share/qutebrowser/
.local/share/recently-used.xbel
.local/share/weatherreport
.local/share/xorg
.pki/
.ssh/
yarn.lock
.yarn/
.yarnrc
Git/
Languages/
.elm/
.config/configstore/
.config/yarn/
.local/share/zathura
.eb_history
Media/
.config/GIMP/
.config/gtk-2.0/gtkfilechooser.ini
.viminfo
README.md
todo
.config/Code\ -\ OSS/
.vscode-oss/
.ipython
.local/share/jupyter/
.vs-kubernetes/
.lesshst
.software/
.config/wall.png
.jupyter/
.local/share/TabNine/
.local/share/vifm/
.vscode-cpptools/
Downloads/
.local/bin/futurize
.local/bin/pasteurize
.local/bin/pyls
.local/lib/
elixir/
.hex/
.mix/
.npm/
.local/bin/py.test
.local/bin/pytest
.keychain/
